<section id="slider">
	<!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<img src="https://nhathuoctaychihang.com/thumbs/1366x475x1/upload/photo/slide-20771-6649.jpg" width="1200px" height="300px" alt="Slider Pangharma" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6">
								<img src="https://image.slidesdocs.com/responsive-images/background/3d-render-featuring-close-up-shots-of-falling-capsule-pills-powerpoint-background_516fff7c99__960_540.jpg" width="1000px" height="300px" alt="Slider Pangharma" />
							</div>
						</div>

						<div class="item">
							<div class="col-sm-6">
								<img src="https://qghome.vn/wp-content/uploads/2023/10/mau-nha-thuoc-tay-dep-2023.jpg" width="1000px" height="300px" alt="Slider Pangharma" />
							</div>
						</div>

					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>