@model TblCategory
@{
	ViewData["Title"] = "Edit Category";
}
<h3>Xoá Danh Mục Sản Phẩm</h3>
<br />
<div class="col-md-9">
	<form asp-action="Edit" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label>Tên Danh Mục</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label>Mô Tả</label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label>Vị Trí</label>
			<input asp-for="Position" class="form-control" />
			<span asp-validation-for="Position" class="text-danger"></span>
		</div>
		<div class="form-group form-check">
			<lable class="form-check-label">
				<input class="form-check-input" asp-for="IsActive" /> Hiển Thị
			</lable>
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-sm">Sửa Danh mục sản phẩm</button>
		</div>
	</form>
	<a asp-action="Index">Quay lại</a>
</div>
@section Scripts
{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

